html{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden !important;
    font-size: 1em;
}
nav{
    padding-left: 30px;
    padding-right: 30px;
}
.navbar-brand h3{
    font-family: 'Advent Pro', sans-serif;
    color: #F7F7F7;
}
ul li a{
    margin-right: 15px;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}
.fixed-top.scrolled {
    opacity: 0.7;
    background: rgba(1,1,1,1);
    transition: background-color 200ms linear;
  }

.first{
    width: 100vw;
    height: 100vh;
}

.background-img{
    height: 100vh;
    width: 100vw;
    opacity: 0.9;
    filter: brightness(40%);
}

.main-container{
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    width: auto;
}

.main-container h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size:40px;
    font-weight:bolder;
}

.main-container-text{
    color: white;
}
